.node-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it fills the available height */
  max-width: 100%; /* Ensure it doesn’t overflow horizontally */
  overflow: hidden; /* Prevent any overflow */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure it fills the container height */
  overflow: hidden; /* Prevents any overflow */
}

.image-container img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
  width: 100%; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Contain the image within the container */
}


.centered-text {
  display: flex;
  justify-content: center; /* Horizontally center the text */
  align-items: center;     /* Vertically center the text */
  width: 100%;
  height: 100%;            /* Ensure it fills the available space */
}

.typography-box {
  background-color: rgba(33, 33, 33, 0.8);
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 30px; /* Ensure it stays small */
}
