.gitignore

# Backend 
flask-backend/src/*
!flask-backend/src/rosbags
flask-backend/Dockerfile

# Frontend
react-frontend/node_modules
react-frontend/Dockerfile

# Preprocessing
preprocessing/model_cache

# Other
docker-compose.yml

# Environments
.env
.env_old

preprocessing/mcap_* 