.gitignore

# Backend 
flask-backend/src/*
!flask-backend/src/rosbags
flask-backend/Dockerfile
flask-backend/api-old

# Frontend
react-frontend/node_modules
react-frontend/Dockerfile
react-frontend/build

# Preprocessing
preprocessing/model_cache

# Other
docker-compose.yml

# Environments
.env
.env_old
.env_*

preprocessing/mcap_* 

*.pyc
__pycache__/

old_preprocessing/

scripts/*