/* Import Bebas Neue font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Header container */
.header-container {
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Align left and right items */
  align-items: center; /* Vertically center the items */
  background-color: #181818; /* Set background color */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding around the header */
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}


/* Header title with Bebas Neue font */
.header-container .header-title {
  font-family: 'Bebas Neue', sans-serif; /* Applying Bebas Neue font */
  font-size: 2.5rem; /* Adjust the font size */
  text-transform: uppercase; /* Optional: Make text uppercase */
}

/* Icon styling */
.header-icon {
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Icon hover effect */
.header-icon:hover {
  color: #fff; /* Highlight the icon on hover */
}